@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


#footerMovil {
    background-color: #7AB362;
    width: 100vw;
    height: 120px;
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 99999;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;

        li{
            margin: 50px 70px 0 0;
        }
    }
}


body {
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(253, 253, 253);
}


#divInicio {
    z-index: 100;
    height: 250px;
    width: 300px;
    background-color: white;
    padding: 20px;
    position: absolute;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#divInicio #x {
    margin: 0px 0 0px 240px;
    width: 20px;
}

#divInicio h3 {
    margin: -29px 0 25px 0;
}

#divInicio #feliz {
    margin: 30px 0 0 0;
}

#divInicio #x:hover {
    cursor: pointer;
}

#divOscuro {
    height: 2000px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.445);
    z-index: 90;
    position: absolute;
}

.navbar {
    position: relative;
    left: 0;
}

#menu {
    background-color: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#menu a {
    text-decoration: none;
    color: #2d5849;
    margin-right: 30px;
}

#menu a:nth-child(1) {
    margin-left: 40px;
}

#login {
    float: right;
}


#login:hover {
    cursor: pointer;
}

#loginForm {
    float: right;
    z-index: 9000;
    position: fixed;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

button {
    background-color: #7AB362;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

#texto {
    width: 100vw;
    height: 500px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

#nombreWeb {
    justify-content: flex-start;
    color: white;
    font-family: 'Pacifico', cursive;
    padding: 300px 0 0 30px;
}

#nombreWeb h1 {
    font-size: 50px;
}

.blur {
    backdrop-filter: blur(20px);
    background-color: #1414143f;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

#texto p {
    color: white;
    margin: 0;
}

#mapa {
    margin: 100px 0 100px 10%;
    border-radius: 10px;
}

#contratos {
    margin: 100px 0 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#fondoContrato {
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/002/063/098/small/abstract-geometric-background-with-green-gradient-circle-background-vector.jpg);
    width: 250px;
    height: 250px;
    margin: 0 50px 50px 0;
    border-radius: 10px;
    background-size: cover;
}

#contrato {
    margin: 0 50px 50px 0;
    backdrop-filter: blur(10px);
    background-color: #00000036;
    padding: 20px;
    width: 250px;
    height: 250px;
    box-shadow: -1px 0px 3px 0px rgba(255, 255, 255, 0.397);
    border-radius: 10px;
    color: white;
}

#barra {
    background-color: #7AB362;
    border-radius: 10px;
    width: 60%;
    margin: 50px 0 100px 20%;
    height: 5px;
}

.contacto {
    width: 80%;
    margin: 0 0 200px 10%;
    border-radius: 10px;
    padding: 20px;
    border: solid #7AB362 3px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #7AB362;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    background-color: #7AB362;
    justify-content: center;
    display: flex;
    height: 150px;
    padding: 10px;
    flex-wrap: wrap;
}

footer div {
    margin: 0 75px 0 0;
}

footer div p {
    margin-bottom: 0px;
    color: white;
}

#siguenos p a:before {
    content: '· ';
}

#siguenos p a {
    text-decoration: none;
    color: white;
}

#compañia p a{
    color: white;
}



@media (max-width: 767px) {
    footer {
        display: none;
    }

    #footerMovil {
        display: block !important;
    }

    #menu {
        display: none;
    }

    #texto{
        height: 800px;
        display: block;

        #nombreWeb{
            padding: 250px 0 50px 30px;
        }

        .blur{
            display: block;
            height: 45vh;
            width: 100vw;
            
        }
    }

    #loginForm{
        width: 100vw !important;
    }

}
